{#def app_services #}

<div class="h-screen flex flex-col antialiased justify-between bg-gray-50 dark:bg-gray-900">

    <Common.Header app_services={{ app_services }} />

    <div class="flex flex-col justify-between flex-auto overflow-y-auto">

        <section class="flex-auto flex overflow-y-auto">
            
            
            <Common.Sidebar>
                <Common.SidebarPanel />
            </Common.Sidebar>

            <main class=" bg-gray-50 dark:bg-gray-900 overflow-auto w-full">

                {% if app_services.app_state.app_error %}
                    <div id="app-error-msg" class="relative z-10 flex w-full justify-center">
                        <div class="absolute top-0">
                            <Flowbite.Alert text="{{app_services.app_state.app_error}}" type="danger" />
                        </div>
                    </div>
                {% endif %}    

                {% with flash_msgs = get_flashed_messages(with_categories=true) %}
                    {% if flash_msgs %}
                        <div id="flash-msgs" class="relative z-10 flex w-full justify-center">
                            <div class="absolute top-0">
                                {% if app_services.app_state.app_error %}
                                    <Flowbite.Alert text="{{ app_services.app_state.app_error }}" type="danger" />
                                {% endif %}    
                                {% for category, message in flash_msgs %}

                                    {% set flash_msg_id = "flash-msg-{}".format(loop.index) %}

                                    {% if category == "error" %}
                                        <Flowbite.Alert id="{{ flash_msg_id}}" text="{{ message}}" type="danger" />
                                    {% elif category == "warning" %}
                                        <Flowbite.Alert id="{{ flash_msg_id}}" text="{{ message}}" type="warning" />
                                    {% else %}
                                        <Flowbite.Alert id="{{ flash_msg_id}}" text="{{ message}}" type="success" />
                                    {% endif %}

                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                {% endwith %}

                <div class="p-4 h-full overflow-hidden">
                    {{ content }}
                </div>
            
            </main>

        </section>

        <Common.Footer app_services={{ app_services }} />

    </div>

</div>
  




