<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 197.53 243.12' fill='rgb(142 124 195)'><path d='M117.77,15.51H82C37,51.25,10.15,107.6,10.15,164.35v31.78H28.49V164.35c0-36.26,12.21-72,33.18-101.1V196.13L80,214.47V41.76q5.12-5.09,10.68-9.7V225.15l9.17,9.17,9.17-9.17V32.06q5.55,4.62,10.68,9.7V214.47l18.34-18.34V63.25c21,29.1,33.19,64.84,33.19,101.1v31.78h18.34V164.35C189.59,107.6,162.79,51.25,117.77,15.51Z' /></svg>" />
    <base href="/" />

    <link href="{{url_for('static',filename='css/app.min.css')}}" rel="stylesheet" />

    <title>{{page_title}}</title>

    <script type="application/javascript" src="{{url_for('static',filename='js/htmx.2.0.1.min.js')}}"></script>
    
    <script type="application/javascript">
        // On page load or when changing themes, best to add inline in `head` to avoid FOUC
        if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
            document.documentElement.classList.add('dark');
        } else {
            document.documentElement.classList.remove('dark')
        }

        // ensure that flowbite get reinitialized on load from htmx.
        if (htmx !== undefined) {
            htmx.onLoad(function(content) {
                initFlowbite();
            })
        }
    </script>

    
        
    {% block head_outlet %}{% endblock %}
    
</head>

<body class="text-black dark:text-gray-100 h-screen overflow-hidden">

    {% block layout_content %}{% endblock %}


    
    <script type="application/javascript" src="{{url_for('static',filename='js/flowbite.min.2.4.1.js')}}"></script>
    <script type="application/javascript" src="{{url_for('static',filename='js/app.js')}}"></script>
    <script type="application/javascript">      
        // initialize components based on data attribute selectors
        initFlowbite();
    </script>
</body>

</html>