{% extends "layouts/app.html" %}
{% import "components/layout/header.jinja" as Header with context %}
{% import "components/layout/sidebar.jinja" as Sidebar with context %}
{% import "components/layout/footer.jinja" as Footer with context %}
{% import "flowbite_jinja_htmx/controls/alert.jinja" as Alert %}

{% block layout_content %}

  <div class="h-screen flex flex-col antialiased justify-between bg-gray-50 dark:bg-gray-900">


    {{ Header.render() }}
  
    <div class="flex flex-col justify-between flex-auto overflow-y-auto">
  
        <section class="flex-auto flex overflow-y-auto">
            
            {% call() Sidebar.render() %}

                {% block side_bar_panel_content %}{% endblock %}

            {% endcall %}

            <main class=" bg-gray-50 dark:bg-gray-900 overflow-auto w-full">

                {% if app_services.app_state.app_error %}
                    <div id="app-error-msg" class="relative z-10 flex w-full justify-center">
                        <div class="absolute top-0">
                            {{ Alert.render(id=flash_msg_id, text=app_services.app_state.app_error, type="danger") }}        
                        </div>
                    </div>
                {% endif %}    

                {% with flash_msgs = get_flashed_messages(with_categories=true) %}
                    {% if flash_msgs %}
                        <div id="flash-msgs" class="relative z-10 flex w-full justify-center">
                            <div class="absolute top-0">
                                {% if app_services.app_state.app_error %}
                                    {{ Alert.render(id=flash_msg_id, text=app_services.app_state.app_error, type="danger") }}
                                {% endif %}    
                                {% for category, message in flash_msgs %}

                                    {% set flash_msg_id = "flash-msg-{}".format(loop.index) %}

                                    {% if category == "error" %}
                                        {{ Alert.render(id=flash_msg_id, text=message, type="danger") }}
                                    {% elif category == "warning" %}
                                        {{ Alert.render(id=flash_msg_id, text=message, type="warning") }}
                                    {% else %}
                                        {{ Alert.render(id=flash_msg_id, text=message, type="success") }}
                                    {% endif %}

                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                {% endwith %}

                <div class="p-4 h-full overflow-hidden">
                    {% block page_body %}{% endblock %}
                </div>
            
            </main>
  
        </section>
  
        {{ Footer.render() }}
  
    </div>
  
  </div>
  
{% endblock %}




