{% import "flowbite_jinja_htmx/controls/card.jinja" as Card %}
{% import "flowbite_jinja_htmx/controls/forms/button.jinja" as Button %}
{% import "flowbite_jinja_htmx/controls/spinner.jinja" as Spinner %}
{% import "flowbite_jinja_htmx/icons/plus.jinja" as PlusIcon %}
{% import "flowbite_jinja_htmx/icons/undo.jinja" as UndoIcon %}
{% import "flowbite_jinja_htmx/icons/remove.jinja" as RemoveIcon %}
{% import "flowbite_jinja_htmx/icons/file_solid.jinja" as FileSolidIcon %}


{% macro render(mode="", title="Title", subtitle="subtitle", diff_list=None, class="") %}


{% call(section_name) Card.render(title=title, subtitle=subtitle, show_header_subtitle=True, enable_header_bg=True) %}

    {% if section_name == "body" %}
        
        <ul class="overflow-auto">

            {% if diff_list is not none and diff_list|length == 0 %}
                
                <span>None</span>

            {% else %}

                {% for diff in diff_list %}

                    <li class="mt-1 p-1 text-sm flex flex-col rounded md:flex-row md:items-center md:justify-between hover:bg-gray-100 dark:hover:bg-gray-600">


                        <!-- left grouping -->
                        <div class="flex flex-col md:flex-row md:items-center md:space-x-3">
                            {{ FileSolidIcon.render() }}
                            <span class="text-gray-800 dark:text-gray-200 font-semibold">{{ diff.filename }}</span>
                            <span class="font-light">{{ diff.dirname }}</span>
                        </div>

                        <!-- right grouping -->
                        <div class="flex items-center space-x-2">

                            {% set hx_vals_json = '"filepath": "{}"'.format(diff.filepath)  %}
                            {% set action_button_indicator_id = "indicator-{}-{}".format(mode, loop.index) %}
                            {% set action_button_indicator_id_ref = "#{}".format(action_button_indicator_id) %}

                            {{ Spinner.render(id=action_button_indicator_id, text="", class="htmx-indicator") }}

                            {% if mode == "staged" %}

                                {% set unstage_html_attribs = "hx-get='/scc/unstage' hx-indicator='{}' hx-vals='{}'".format(action_button_indicator_id_ref, hx_vals_json) %}
                                {% call Button.render(style="primary", padding="p-1", spacing="", tooltip="Unstage file (i.e. do not commit this file change)", additional_attribs=unstage_html_attribs) %}
                                    {{ RemoveIcon.render(width_css_class="w-4", height_css_class="h-4") }}
                                {% endcall %}

                            {% endif %}


                            {% if mode == "unstaged" %}

                                {% set discard_html_attribs = "hx-get='/scc/discard' hx-indicator='{}' hx-vals='{}'".format(action_button_indicator_id_ref, hx_vals_json) %}

                                {% if diff.change_type == "Untracked" %}
                                    {% set discard_html_attribs = discard_html_attribs ~ "hx-confirm='Are you sure you want to DELETE this file?\nThis is IRREVERSIBLE!\nThis file will be FOREVER LOST if you proceed.'" %}
                                {% else %}
                                    {% set discard_html_attribs = discard_html_attribs ~ "hx-confirm='Are you sure you want to discard change to this file?'" %}
                                {% endif %}
                                {% call Button.render(style="primary", padding="p-1", spacing="", tooltip="Discard changed file (i.e. revert back to last committed version)", additional_attribs=discard_html_attribs) %}
                                    {{ UndoIcon.render(width_css_class="w-4", height_css_class="h-4") }}
                                {% endcall %}  

                                {% set stage_html_attribs = "hx-get='/scc/stage' hx-indicator='{}' hx-vals='{}'".format(action_button_indicator_id_ref, hx_vals_json) %}
                                {% call Button.render(style="primary", padding="p-1", spacing="", tooltip="Stage changed file (i.e. mark to be committed)", additional_attribs=stage_html_attribs) %}
                                    {{ PlusIcon.render(width_css_class="w-4", height_css_class="h-4") }}
                                {% endcall %}    
                            {% endif %}


                            {% set color_classes = ""  %}
                            {% if diff.change_type == "Added" or diff.change_type == "Untracked" %}
                                {% set color_classes = "text-green-600 bg-green-300"  %}
                            {% elif diff.change_type == "Modified" %}
                                {% set color_classes = "text-amber-700 bg-amber-300"  %}
                            {% elif diff.change_type == "Deleted" %}
                                {% set color_classes = "text-rose-700 bg-rose-300"  %}
                            {% elif diff.change_type == "Renamed" %}
                                {% set color_classes = "text-primary-600 bg-primary-300"  %}
                            {% endif %}

                            <span class="w-20 text-xs text-center font-semibold rounded p-1 {{ color_classes }}">{{ diff.change_type }}</span>

                        </div>

                    </li>

                {% endfor %}

            {% endif %}

        </ul>

    {% endif %}

{% endcall %}


{% endmacro %}