{% import "flowbite_jinja_htmx/controls/forms/button.jinja" as Button %}
{% extends "layouts/main_layout.html" %}

{% block side_bar_panel_content %}
    {% include "partials/sidebar_panel.html" %}
{% endblock %}

{% block page_body %}

<div class="flex justify-between">
    <h1 class="pb-4 text-3xl">
        Home
    </h1>
    <div>
        {{ Button.render(id="back-btn", text="Back", style="primary", additional_attribs="onclick='history.back()'") }}
    </div>
</div>

<div class="px-4 flex flex-col space-y-6">
    
</div>

{% endblock %}

